<div class="parallax-container rel" data-parallax="scroll" data-bleed="10" data-speed="0.5" data-image-src="{{ base_path }}themes/nik/app/images/award-bg.jpg">
    <div class="abs ctr">
        <h2 class="ui header inverted pt3">{{ 'Nik Company' | t }}
            <div class="sub header">{{ 'Nik Company Award' | t }}</div>
        </h2>
    </div>
</div>
