<div class="ui stacked segment">
    <h3 class="ui header">{{ label }}</h3>
    <div class="ui clearing divider"></div>
    <div class="view-ctr font-color">
        {{ drupal_view('most_popular', 'block_1') }}
    </div>
</div>
