<div class="front-wide rel">
    <a href="{{ url }}">
        <img class="ui image fluid" src="{{ node.field_main_picture.entity.fileuri | image_style('cube_wide') }}">
    </a>
    <div class="abs bottom-description nik-red-bg p2">
        <h3 class="ui header inverted">
            <a class="" href="{{ url }}">
                {{ label }}
            </a>
        </h3>
    </div>
</div>
